In [1]:
import numpy as np
import pandas as pd
import sqlite3
import random

### Define functions

In [2]:
#define function to clean data
def cleandata(dfname, filepath, clean_dfname, new_col_names):
    dfname = pd.read_csv(filepath)
    clean_dfname = dfname.rename(columns = new_col_names)
    clean_dfname = clean_dfname.fillna(0)
    clean_dfname = clean_dfname.replace("-", 0)
    clean_dfname = clean_dfname.drop(["State", "Time taken"], axis=1)
    print("Data cleaned")
    return(clean_dfname)

#define function to change column data type
def changedtype(clean_dfname, col_index):
    clean_dfname.iloc[:, col_index:] = clean_dfname.iloc[:, col_index:].astype("float64", copy=False)
    print("Data type chenged")

    
#define function to remove duplicated values
def drop_duplicated_id(clean_dfname):
    clean_dfname = clean_dfname.sort_values("Grade").drop_duplicates(subset=["research id"], keep="last")  
    print("Duplicated values removed")
    return(clean_dfname)

#define funtion to give student grade for those didn't complete all the question
def complete_grades(df, s_id, grade):
    index = df[df["research id"] == s_id].index  #to check index number 
    df.at[index, "Grade"] = grade

#define function to format data
def format_grade(clean_dfname, allmarks, columns):
    clean_dfname = clean_dfname.apply(lambda x: (x/allmarks)*100 if x.name in columns else x).round(2)
    print("Grades are formatted")
    return(clean_dfname)
    
#define function to store data to database
def savetodb(clean_dfname, table_name):
    conn = sqlite3.connect("ResultDatabase.db")
    df = clean_dfname
    df.to_sql(table_name, conn, index=False, if_exists="replace")
    conn.close
    print("Dataframe saved to database")

### Test 1

In [3]:
#use function cleandata() to clean data
t1_new_name = {"Grade/600":"Grade", "Q 1 /100":"Q1", "Q 2 /100":"Q2", "Q 3 /100":"Q3", "Q 4 /100":"Q4", "Q 5 /100":"Q5", "Q 6 /100":"Q6"}
dfCleanTest_1 = cleandata("dfTest_1", "TestResult/Formative_Test_1.csv", "dfCleanTest_1", t1_new_name)

#use function changedtype() to change datatype  
changedtype(dfCleanTest_1, 3) 
#check
#dfCleanTest_1.info()

#use function drop_duplicated_id to remove duplicates
dfCleanTest_1 = drop_duplicated_id(dfCleanTest_1)

#use function format_grade() to format data
c = ["Grade", "Q1", "Q2", "Q3", "Q4", "Q5", "Q6"]
dfFormattedCleanTest_1 = format_grade(dfCleanTest_1, 6, c)

#use function savetodb() to save formatted dataframe to database
savetodb(dfFormattedCleanTest_1, "dfFormattedCleanTest_1")

Data cleaned
Data type chenged
Duplicated values removed
Grades are formatted

C:\Users\macy1\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

Dataframe saved to database

### Test 2

In [4]:
#use function cleandata() to clean data
t2_new_name = {"Grade/700":"Grade", "Q 1 /100":"Q1", "Q 2 /100":"Q2", "Q 3 /100":"Q3", "Q 4 /200":"Q4", "Q 5 /100":"Q5", "Q 6 /100":"Q6"}
dfCleanTest_2 = cleandata("dfTest_2", "TestResult/Formative_Test_2.csv", "dfCleanTest_2", t2_new_name)

#use function changedtype() to change datatype  
changedtype(dfCleanTest_2, 3)    
# #check
# dfCleanTest_2.info()

#use function drop_duplicated_id to remove duplicates
dfCleanTest_2 = drop_duplicated_id(dfCleanTest_2)

#student 107 only complete Q1 so will get 0.6 for Grade instead of 0
complete_grades(dfCleanTest_2, 107, 0.6)

#use function format_grade() to format data
c = ["Grade", "Q1", "Q2", "Q3", "Q4", "Q5", "Q6"]
dfFormattedCleanTest_2 = format_grade(dfCleanTest_2, 7, c)

#use function savetodb() to save the formatted dataframe to database
savetodb(dfFormattedCleanTest_2, "dfFormattedCleanTest_2")

Data cleaned
Data type chenged
Duplicated values removed
Grades are formatted

C:\Users\macy1\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

Dataframe saved to database

### Test 3

In [5]:
#use function cleandata() to clean data
t3_new_name = {"Grade/600":"Grade", "Q 1 /100":"Q1", "Q 2 /100":"Q2", "Q 3 /100":"Q3", "Q 4 /100":"Q4", "Q 5 /100":"Q5", "Q 6 /100":"Q6"}
dfCleanTest_3 = cleandata("dfTest_3", "TestResult/Formative_Test_3.csv", "dfCleanTest_3", t3_new_name)

#use function changedtype() to change datatype  
changedtype(dfCleanTest_3, 3)    
# #check
# dfCleanTest_3.info()

#use function drop_duplicated_id to remove duplicates
dfCleanTest_3 = drop_duplicated_id(dfCleanTest_3)

#student 132 and 60 will get grades for what they've complete instead of 0
complete_grades(dfCleanTest_3, 132, 0.8)
complete_grades(dfCleanTest_3, 60, 3.0)

#use function format_grade() to format data
c = ["Grade", "Q1", "Q2", "Q3", "Q4", "Q5", "Q6"]
dfFormattedCleanTest_3 = format_grade(dfCleanTest_3, 6, c)

#use function savetodb() to save the formatted dataframe to database
savetodb(dfFormattedCleanTest_3, "dfFormattedCleanTest_3")

Data cleaned
Data type chenged
Duplicated values removed
Grades are formatted
Dataframe saved to database

C:\Users\macy1\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

### Test 4

In [6]:
#use function cleandata() to clean data
t4_new_name = {"Grade/1000":"Grade", "Q 1 /500":"Q1", "Q 2 /500":"Q2"}
dfCleanTest_4 = cleandata("dfTest_4", "TestResult/Formative_Test_4.csv", "dfCleanTest_4", t4_new_name)

#use function changedtype() to change datatype  
changedtype(dfCleanTest_4, 3) 
# #check
# dfCleanTest_4.info()

#use function drop_duplicated_id to remove duplicates
dfCleanTest_4 = drop_duplicated_id(dfCleanTest_4)

#use function format_grade() to format data
c = ["Grade", "Q1", "Q2"]
dfFormattedCleanTest_4 = format_grade(dfCleanTest_4, 10, c)

#use function savetodb() to save the formatted dataframe to database
savetodb(dfFormattedCleanTest_4, "dfFormattedCleanTest_4")

Data cleaned
Data type chenged
Duplicated values removed
Grades are formatted
Dataframe saved to database

### Mock test

In [7]:
#use function cleandata() to clean data
mt_new_name = {"Grade/10000":"Grade", "Q 1 /500":"Q1", "Q 2 /300":"Q2", "Q 3 /600":"Q3", "Q 4 /700":"Q4", "Q 5 /500":"Q5", 
               "Q 6 /400":"Q6", "Q 7 /1000":"Q7", "Q 8 /2000":"Q8", "Q 9 /2000":"Q9", "Q 10 /2000":"Q10"}
dfCleanMockTest = cleandata("dfMockTest", "TestResult/Formative_Mock_Test.csv", "dfCleanMockTest", mt_new_name)

#use function changedtype() to change datatype  
changedtype(dfCleanMockTest, 3) 
# #check
# dfCleanMockTest.info()

#use function drop_duplicated_id to remove duplicates
dfCleanMockTest = drop_duplicated_id(dfCleanMockTest)

#format data
dfFormattedCleanMockTest = dfCleanMockTest.round(2)

#use function savetodb() to save the formatted dataframe to database
savetodb(dfFormattedCleanMockTest, "dfFormattedCleanMockTest")

Data cleaned
Data type chenged
Duplicated values removed
Dataframe saved to database

###

### Sum test

In [8]:
#use function cleandata() to clean data
st_new_name = {"Grade/10000":"Grade", "Q 1 /500":"Q1", "Q 2 /300":"Q2", "Q 3 /600":"Q3", "Q 4 /700":"Q4", "Q 5 /400":"Q5", 
               "Q 6 /500":"Q6", "Q 7 /1500":"Q7", "Q 8 /1500":"Q8", "Q 9 /1500":"Q9", "Q 10 /1000":"Q10", "Q 11 /400":"Q11", "Q 12 /500":"Q12", "Q 13 /600":"Q13",}
dfCleanSumTest = cleandata("dfSumTest", "TestResult/SumTest.csv", "dfCleanSumTest", st_new_name)

#use function changedtype() to change datatype  
changedtype(dfCleanSumTest, 3) 
# #check
# dfCleanSumTest.info()

#use function drop_duplicated_id to remove duplicates
dfCleanSumTest = drop_duplicated_id(dfCleanSumTest)

#format data
dfFormattedCleanSumTest = dfCleanSumTest.round(2)

#use function savetodb() to save the formatted dataframe to database
savetodb(dfFormattedCleanSumTest, "dfFormattedCleanSumTest")

Data cleaned
Data type chenged
Duplicated values removed
Dataframe saved to database

### Modify data

In [9]:
#####################################
# #uncomment all to modify the data 
#####################################

# #generate 20 random rows to modify 
# row = list(range(0,153))
# row_20 = np.random.choice(row, 20, replace=False)
# print(row_20)

# #generate 3 random questions to modify 
# col = list(range(4,17))    #location of Q1-Q13
# Q = np.random.choice(col, 3, replace=False)
# print(Q)

# #times 0.5 to each question
# dfFormattedCleanSumTest.iloc[row_20,Q] = dfFormattedCleanSumTest.iloc[row_20,Q].apply(lambda x: x*0.5).round(2)
# dfFormattedCleanSumTest.iloc[row_20,:]

# #update the total grade in each row
# Qlist = ["Q1","Q2","Q3","Q4","Q5","Q6","Q7","Q8","Q9","Q10","Q11","Q12","Q13"]
# dfFormattedCleanSumTest["Grade"] = dfFormattedCleanSumTest[Qlist].sum(axis=1)
# dfFormattedCleanSumTest.iloc[row_20,:].sort_index()


# #use function savetodb() to save modified data to database
# savetodb(dfFormattedCleanSumTest, "dfFormattedCleanSumTest")